#loading{
  width: 40%;
  margin-right: 200px;
  margin-left: 200px;
  border: 2px solid grey;
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em
}
#loading-bar{
  width: 1%;
  background: red;
  animation-name: loading;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  padding: 10px;
}
@keyframes loading{
  from{
  width: 1%;
  background: red;
  }
  to{
    width: 96.5%;
    background: green;

  }
}
